<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136745016084-ukn4eo1splvpv58ff3fnr6a3lgt68khq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136745016084-ukn4eo1splvpv58ff3fnr6a3lgt68khq</string>
	<key>API_KEY</key>
	<string>AIzaSyDWi25fHNBFBtiyErXnuui24GOgDbzqf_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>136745016084</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>murthi.AppShowcase</string>
	<key>PROJECT_ID</key>
	<string>two-goats</string>
	<key>STORAGE_BUCKET</key>
	<string>two-goats.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136745016084:ios:7d30502fbeeddde8</string>
	<key>DATABASE_URL</key>
	<string>https://two-goats.firebaseio.com</string>
</dict>
</plist>